<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
</head>
<body>
<h2>Are you sure you want to delete this autoloan with mortgageSumm: <span th:text="${autoloan.mortgageSumm}"></span>,
    passportNumber: <span th:text="${autoloan.passportNumber}"></span>?</h2>
<td>
    <form th:action="@{/autoloans/{passportNumber}/{mortgageSumm}/delete
    (passportNumber=${autoloan.passportNumber}, mortgageSumm=${autoloan.mortgageSumm})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this autoloan?');"/>
    </form>
</td>
<a href="/autoloans">Cancel</a>
</body>
</html>