<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New autoloan</title>
    <script>
        function updateCurrentMortgageSumm() {
            // Get value of mortgageSumm
            var mortgageSummValue = document.getElementById("mortgageSumm").value;
            // Set this value into CurrentMortgageSumm
            document.getElementById("CurrentMortgageSumm").value = mortgageSummValue;
        }
    </script>
</head>
<body>
<form method="POST" th:action="@{/autoloans}" th:object="${autoloan}">
    <!-- Passport Number Field -->
    <label for="passportNumber">Enter passportNumber: </label>
    <input type="number" th:field="*{passportNumber}" id="passportNumber" required/>
    <div style="color:red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">Passport Number
        Error
    </div>
    <br/>
    <!-- mortgageSumm Field -->
    <label for="mortgageSumm">Enter mortgageSumm: </label>
    <input type="number" th:field="*{mortgageSumm}" id="mortgageSumm" oninput="updateCurrentMortgageSumm()" required/>
    <div style="color:red" th:if="${#fields.hasErrors('mortgageSumm')}" th:errors="*{mortgageSumm}">mortgage Summ
        Error
    </div>
    <br/>
    <!-- CurrentMortgageSumm Field -->
    <label for="CurrentMortgageSumm">Enter CurrentMortgageSumm: </label>
    <input type="number" th:field="*{currentMortgageSumm}" id="CurrentMortgageSumm" required/>
    <br/>
    <br/>
    <!-- mortgageMonthsTerm Field -->
    <label for="mortgageMonthsTerm">Enter mortgageMonthsTerm: </label>
    <input type="number" th:field="*{mortgageMonthsTerm}" id="mortgageMonthsTerm"/>
    <div style="color:red" th:if="${#fields.hasErrors('mortgageMonthsTerm')}" th:errors="*{mortgageMonthsTerm}">
        mortgageMonthsTerm Error
    </div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>