<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All autoloans</title>
</head>
<body>
<h2>List of autoloans</h2>
<!-- Table with the list of autoloans -->
<table border="1">
    <thead>
    <tr>
        <th>MortgageSumm</th>
        <th>CurrentMortgageSumm</th>
        <th>mortgageMonthsTerm</th>
        <th>PassportNumber</th>
        <th>Pay</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop for show all of autoloans -->
    <tr th:each="autoloan : ${autoloans}">
        <td th:text="${autoloan.mortgageSumm}"></td>
        <td th:text="${autoloan.currentMortgageSumm}"></td>
        <td th:text="${autoloan.mortgageMonthsTerm}"></td>
        <td th:text="${autoloan.passportNumber}"></td>
        <!-- Button to pay -->
        <td>
            <form th:action="@{/autoloans/{id}/payment(id=${autoloan.id})}" method="get">
                <input type="submit" value="Pay"/>
            </form>
        </td>
        <!-- Button to edit -->
        <td>
            <form th:action="@{/autoloans/{passportNumber}/{mortgageSumm}/edit(
                             passportNumber=${autoloan.passportNumber},
                             mortgageSumm=${autoloan.mortgageSumm})}"
                  method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <!-- Button to delete -->
        <td>
            <form th:action="@{/autoloans/{passportNumber}/{mortgageSumm}/delete(passportNumber=${autoloan.passportNumber},
                 mortgageSumm=${autoloan.mortgageSumm})}" method="get">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<!-- Button to create a new autoloan -->
<a href="/autoloans/new">Create a new autoloan</a>
<br/>
<!-- Button to get back to the main page -->
<a href="/">To get back to the main page of website</a>
<br>
</body>
</html>