<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update autoloan</title>
    <script>
        function updateCurrentMortgageSumm() {
            // Get value of mortgageSumm
            var mortgageSummValue = document.getElementById("mortgageSumm").value;
            // Set this value into CurrentMortgageSumm
            document.getElementById("currentMortgageSumm").value = mortgageSummValue;
        }
    </script>
</head>
<body>
<form th:action="@{/autoloans/{passportNumber}/{mortgageSumm}/edit(passportNumber=${autoloan.passportNumber},
mortgageSumm=${autoloan.mortgageSumm})}" method="post" th:object="${autoloan}">
    <input type="hidden" name="_method" value="patch"/>
    <!-- mortgageSumm Field -->
    <label for="mortgageSumm">Enter mortgageSumm: </label>
    <input type="number" th:field="*{mortgageSumm}" id="mortgageSumm" oninput="updateCurrentMortgageSumm()" required />
    <div style="color:red" th:if="${#fields.hasErrors('mortgageSumm')}" th:errors="*{mortgageSumm}">mortgageSumm Error</div>
    <br/>
    <!-- CurrentMortgageSumm Field -->
    <label for="currentMortgageSumm">Enter currentMortgageSumm: </label>
    <input type="number" th:field="*{currentMortgageSumm}" id="currentMortgageSumm" required />
    <br/>
    <!-- mortgageMonthsTerm Field -->
    <label for="mortgageMonthsTerm">Enter mortgageMonthsTerm: </label>
    <input type="number" th:field="*{mortgageMonthsTerm}" id="mortgageMonthsTerm" min="1" required />
    <br/>
    <input type="submit" value="Update!"/>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>