<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All debitcards</title>
</head>
<body>

<h2>List of debitcards</h2>

<!-- Таблица со списком пользователей -->
<table border="1">
    <thead>
    <tr>
        <th>cardNumber</th>
        <th>issueCardDate</th>
        <th>cardExpirationDate</th>
        <th>cvvCode</th>
        <th>cardBalance</th>
        <th>passportNumber</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Цикл для отображения всех пользователей -->
    <tr th:each="debitcard : ${debitcards}">
        <td th:text="${debitcard.cardNumber}"></td>
        <td th:text="${debitcard.issueCardDate}"></td>
        <td th:text="${debitcard.cardExpirationDate}"></td>
        <td th:text="${debitcard.cvvCode}"></td>
        <td th:text="${debitcard.cardBalance}"></td>
        <td th:text="${debitcard.passportNumber}"></td>

        <!-- Кнопка для редактирования -->
        <td>
            <form th:action="@{/debitcards/{cardNumber}/edit(cardNumber=${debitcard.cardNumber})}" method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>

        <!-- Кнопка для удаления -->
        <td>
            <form th:action="@{/debitcards/{cardNumber}/delete(cardNumber=${debitcard.cardNumber})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this debitcard?');"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br/>

<!-- Кнопка для создания нового пользователя -->
<a href="/debitcards/new">Create a new debitcard</a>

<br><br>

<a href="/online-bank">Back to main page</a>

</body>
</html>
