<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
</head>
<body>
<h2>Are you sure you want to delete this debitcard with number: <span th:text="${debitcard.cardNumber}"></span>?</h2>
<form th:method="post" th:action="@{/debitcards/{cardNumber}(cardNumber=${debitcard.cardNumber})}">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete"/>
</form>

<a href="/debitcards">Cancel</a>
</body>
</html>