<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New debitcard</title>
</head>
<body>

<form method="POST" th:action="@{/debitcards}" th:object="${debitcard}">
  <!-- cardnumber Field -->
  <label for="cardNumber">Enter card number: </label>
  <input type="text" th:field="*{cardNumber}" id="cardNumber" required />
  <div style="color:red" th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">cardNumber Error</div>
  <br/>

  <!-- issuecarddate Field -->
  <label for="issueCardDate">Enter issuecarddate: </label>
  <input type="date" th:field="*{issueCardDate}" id="issueCardDate" />
  <div style="color:red" th:if="${#fields.hasErrors('issueCardDate')}" th:errors="*{issueCardDate}">issueCardDate Error</div>
  <br/>

  <!-- cardexpirationdate Field -->
  <label for="cardExpirationDate">Enter cardExpirationDate: </label>
  <input type="date" th:field="*{cardExpirationDate}" id="cardExpirationDate" />
  <div style="color:red" th:if="${#fields.hasErrors('cardExpirationDate')}" th:errors="*{cardExpirationDate}">cardExpirationDate Error</div>
  <br/>

  <!-- cvvcode Field -->
  <label for="cvvCode">Enter cvvCode: </label>
  <input type="number" th:field="*{cvvCode}" id="cvvCode" required />
  <br/>
  <br/>

  <!-- cardbalance Field -->
  <label for="cardBalance">Enter cardBalance: </label>
  <input type="number" th:field="*{cardBalance}" id="cardBalance" />
  <div style="color:red" th:if="${#fields.hasErrors('cardBalance')}" th:errors="*{cardBalance}">cardBalance Error</div>
  <br/>

  <!-- Passport Number Field -->
  <label for="passportNumber">Enter passportNumber: </label>
  <input type="number" th:field="*{passportNumber}" id="passportNumber" required />
  <div style="color:red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">Passport Number Error</div>
  <br/>

  <input type="submit" value="Create!" />
</form>

</body>
</html>
