<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All mortgages</title>
</head>
<body>
<h2>List of mortgages</h2>
<!-- Table with the list of mortgages -->
<table border="1">
    <thead>
    <tr>
        <th>MortgageSumm</th>
        <th>CurrentMortgageSumm</th>
        <th>MortgageTerm</th>
        <th>PassportNumber</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop for show all of mortgages -->
    <tr th:each="mortgage : ${mortgages}">
        <td th:text="${mortgage.mortgageSumm}"></td>
        <td th:text="${mortgage.currentMortgageSumm}"></td>
        <td th:text="${mortgage.mortgageTerm}"></td>
        <td th:text="${mortgage.passportNumber}"></td>
        <!-- Button to edit -->
        <td>
            <form th:action="@{/mortgages/{passportNumber}/{mortgageSumm}/edit(
                             passportNumber=${mortgage.passportNumber},
                             mortgageSumm=${mortgage.mortgageSumm})}"
                  method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <!-- Button to delete -->
        <td>
            <form th:action="@{/mortgages/{passportNumber}/{mortgageSumm}/delete(passportNumber=${mortgage.passportNumber}, mortgageSumm=${mortgage.mortgageSumm})}"
                  method="post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" value="Delete"
                       onclick="return confirm('Are you sure you want to delete this mortgage?');"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<!-- Button to create a new mortgage -->
<a href="/mortgages/new">Create a new mortgage</a>
<br/>
<!-- Button to get back to the main page -->
<a href="/online-bank">To get back to the main page of website</a>
<br>
</body>
</html>