<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All debitcards</title>
</head>
<body>
<h2>List of debitcards</h2>
<!-- Table with the list of debitcards -->
<table border="1">
    <thead>
    <tr>
        <th>cardNumber</th>
        <th>issueCardDate</th>
        <th>cardExpirationDate</th>
        <th>cvvCode</th>
        <th>cardBalance</th>
        <th>passportNumber</th>
        <th>Edit</th>
        <th>Deposit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop for show all of debitcards -->
    <tr th:each="debitcard : ${debitcards}">
        <td th:text="${debitcard.cardNumber}"></td>
        <td th:text="${debitcard.issueCardDate}"></td>
        <td th:text="${debitcard.cardExpirationDate}"></td>
        <td th:text="${debitcard.cvvCode}"></td>
        <td th:text="${debitcard.cardBalance}"></td>
        <td th:text="${debitcard.passportNumber}"></td>

        <!-- Button to edit -->
        <td>
            <form th:action="@{/debitcards/{passportNumber}/{cardNumber}/edit(cardNumber=${debitcard.cardNumber},
            passportNumber=${debitcard.passportNumber})}" method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <!-- Button to deposit -->
        <td>
            <form th:action="@{/debitcards/{cardNumber}/deposit(cardNumber=${debitcard.cardNumber})} " method="get">
                <input type="submit" value="Deposit"/>
            </form>
        </td>
        <!-- Button to delete -->
        <td>

            <form th:action="@{/debitcards/{passportNumber}/{cardNumber}/delete(cardNumber=${debitcard.cardNumber},
            passportNumber=${debitcard.passportNumber})}" method="get">
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    </tbody>
</table>
<br/>
<!-- Button to create a new debitcard -->
<a href="/debitcards/new">Create a new debitcard</a>
<br>
<!-- Button to transfer money -->
<a href="/debitcards/transfer">Transfer Money</a>
<br>
<!-- Button to get back to the main page -->
<a href="/">Back to main page</a>
</body>
</html>