<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update debitcard</title>
    <script>
        function updateExpirationDate() {
            const issueCardDateInput = document.getElementById("issueCardDate");
            const cardExpirationDateInput = document.getElementById("cardExpirationDate");
            // Get date from input
            const issueCardDateValue = issueCardDateInput.value;
            if (issueCardDateValue) {
                // From String to Date
                const issueDate = new Date(issueCardDateValue);
                // plus 3 years
                issueDate.setFullYear(issueDate.getFullYear() + 3);
                // to String with format YYYY-MM-DD
                const expirationDate = issueDate.toISOString().split('T')[0];
                // Set currect date into field cardExpirationDate
                cardExpirationDateInput.value = expirationDate;
            }
        }
    </script>
</head>
<body>
    <form method="POST" th:action="@{/debitcards/{passportNumber}/{cardNumber}/edit(cardNumber=${debitcard.cardNumber},
            passportNumber=${debitcard.passportNumber})}"
          th:object="${debitcard}">
        <input type="hidden" name="_method" value="PATCH"/>

    <!-- issueCardDate Field -->
    <label for="issueCardDate">Enter issueCardDate: </label>
    <input type="date" th:field="*{issueCardDate}" id="issueCardDate" oninput="updateExpirationDate()" />
    <div style="color:red" th:if="${#fields.hasErrors('issueCardDate')}" th:errors="*{issueCardDate}">issueCardDate Error</div>
    <br/>
    <!-- cardExpirationDate Field -->
    <label for="cardExpirationDate">Enter cardExpirationDate: </label>
    <input type="date" th:field="*{cardExpirationDate}" id="cardExpirationDate" />
    <div style="color:red" th:if="${#fields.hasErrors('cardExpirationDate')}" th:errors="*{cardExpirationDate}">cardExpirationDate Error</div>
    <br/>
    <!-- cvvCode Field -->
    <label for="cvvCode">Enter cvvCode: </label>
    <input type="number" th:field="*{cvvCode}" id="cvvCode" />
    <br/>
    <!-- cardBalance Field -->
    <label for="cardBalance">Enter cardBalance: </label>
    <input type="number" th:field="*{cardBalance}" id="cardBalance" />
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>